@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";

* {
    font-family: sans-serif;
    box-sizing: border-box;
}


/*
CSS for Login page
*/
.login{
    background-color: #1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_page {
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

.login_page h2{
    text-align: center;
    margin-bottom: 40px;
}

.login_page input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.login_page label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.login_page button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

.login_page button:hover {
    opacity: .7;
}

/*
CSS for Dashboard page
*/

#dashboard-title {
    text-align: center;
    margin-bottom: 40px;
}

#dashboard-welkom-text {
    text-align: center;
}

.dashbord-table {
    width: 70%;
    border-collapse: collapse;
    border: solid 1px #ccc;
    justify-content: center;
    margin: 0 auto;
}

td {
    border: solid 1px #ccc;
    padding: 10px;
}

th {
    border: solid 1px #ccc;
    padding: 10px;
    background-color: #1690A7;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-table-2 {
    width: 100%;
    max-width: 768px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 25px;
}

.dashboard-table-2 .item {
    padding: 15px;
    border-bottom: 1px solid #ccc;

}

.dashboard-table-2 .item:last-of-type {
    border-bottom: none;
}

.sortable a{
    text-decoration: none;
    color: #ffffff;
}