* {
    font-family: sans-serif;
    box-sizing: border-box;
}


/*
CSS for Login page
*/
.login{
    background-color: #1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_page {
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

.login_page h2{
    text-align: center;
    margin-bottom: 40px;
}

.login_page input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.login_page label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.login_page button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

.login_page button:hover {
    opacity: .7;
}

/*
CSS for Dashboard page
*/